.formulario-titulo {
    text-align: center;
}

.formulario-legenda {
    font-weight: bold;
}

.formulario-campo {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.8rem;
    margin: 0 0 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

.formulario-botao {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    padding: 0.8rem;
    background: #9351b4;
    border: 1px solid #9351b4;
    border-radius: 5px;
}

.erro {
    color: red;
}

@media(min-width: 768px) {
    .formulario {
        max-width: 50%;
        margin: 3rem auto 0;
    }
}

@media(min-width: 992px) {
    .formulario {
        max-width: 40%;
    }
}

@media(min-width: 1280px) {
    .formulario {
        max-width: 30%;
    }
}