.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 60px;
    min-height: 60px;
    padding: 0 1rem;
    background: #ffffff;
    border-bottom: 1px solid #d4dadf;
    box-shadow: 0 1px 1px 0 #f0f1f4;
}

.navbar__logo {
    display: block;
    width: 200px;
}

@media (min-width: 992px) {
    .navbar {
        padding: 0 10%;
    }
}