.navbar-menu__botao {
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.5rem;
    border: 1px solid #9351b4;
    border-radius: 5px;
}

.navbar-menu__botao--aberto:after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
}

.navbar-menu__opcoes {
    list-style: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
    padding: 2rem 1rem 0;
    margin: 0;
    background: #9351b4;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

.navbar-menu__opcoes--aberto {
    transform: translateX(0);
}

.navbar-menu__opcoes li {
    cursor: pointer;
}

.navbar-menu__opcoes li + li {
    margin-top: 1rem;
}

@media (min-width: 992px) {
    .navbar-menu__botao {
        display: none;
    }

    .navbar-menu__opcoes {
        display: flex;
        align-items: center;
        position: initial;
        height: initial;
        width: initial;
        padding: initial;
        background: initial;
        transform: initial;
        transition: initial;
    }

    .navbar-menu__opcoes--aberto {
        transform: initial;
    }

    .navbar-menu__opcoes--ativo {
        border-bottom: 2px solid #9351b4;
    }

    .navbar-menu__opcoes li + li {
        margin-top: 0;
        margin-left: 1rem;
    }

    .navbar-menu__opcoes li a {
        color: #9351b4;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.3rem 0;
    }
}