.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 60px;
    min-height: 60px;
    padding: 0 calc(10% + 1rem);
    background: #ffffff;
    border-bottom: 1px solid #d4dadf;
    box-shadow: 0 1px 1px 0 #f0f1f4;
}

.navbar-logo {
    display: block;
    width: 200px;
}

.navbar-links {
    list-style: none;
    color: #9351b4;
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar-links li + li {
    margin-left: 1rem;
}