.home {
    min-height: calc(100vh - 60px);
    padding: 1.5rem 1rem 0;
    background-image: url('./alunas.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.home__loading {
    display: block;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .home {
        padding: 1.5rem 10% 0;
    }
}